---
import titlePagesNames from "../ts/titlePages";

const [home, about, blog] = titlePagesNames;
---

<div class="nav-links">
    <a href="/">{home.bodyTitle}</a>
    <a href="/about/">{about.bodyTitle}</a>
    <a href="/blog/">{blog.bodyTitle}</a>
</div>
